<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity impersonate="false" />
        <authentication mode="Forms" />
    </system.web>
    <system.webServer>
        <handlers>
            <add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\eUnite\Downloads\php-7.1.1-nts-Win32-VC14-x86\php-cgi.exe" resourceType="File" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
